<p>Welcome!</p>
<button routerLink="/history">Go to History Quiz</button>

<form (ngSubmit)="onSubmit()" #userForm="ngForm">
    <div>
        <label for="firstName">First Name:</label>
        <input type="text" id="firstName" name="firstName" [(ngModel)]="user.firstName" required/>
        <div *ngIf="userForm.submitted && userForm.controls.firstName.errors?.required">
            First name is required.
        </div>
        <label for="lastName">Last Name:</label>
        <input type="text" id="lastName" name="lastName" [(ngModel)]="user.lastName" required/>
        <div *ngIf="userForm.submitted && userForm.controls.lastName.errors?.required">
            Last name is required.
        </div>
        <label for="email">Email:</label>
        <input type="text" id="email" name="email" [(ngModel)]="user.email" required email/>
        <div *ngIf="userForm.submitted && userForm.controls.email.errors?.required">
            Email is required.
        </div>
        <div *ngIf="userForm.submitted && userForm.controls.email.errors?.email"> 
            Please enter a valid email address.
        </div>
    </div>
    <button type="submit" [disabled]="!userForm.valid">Submit</button>
</form>

<div *ngIf="user.firstName && user.lastName && user.email && isSubmitted">
    <!-- <p>First name: {{ user$.firstName | async }}</p>
    <p>Last name: {{ user$.lastname | async }}</p>
    <p>Email: {{ user$.email | async }}</p> -->
    <p>First name: {{ user.firstName }}</p>
    <p>Last name: {{ user.lastName }}</p>
    <p>Email: {{ user.email }}</p>
</div>