<h1>{{title}}</h1>
<button routerLink="/welcome">Go to Home Page</button>
<h2>History</h2>
<div *ngIf='!isLoading; else loading'>
    <app-quiz-question
        [question]='questions[currentQuestionIndex]'
        [isLastQuestion]='isLastQuestion()'
        (answerSelected)='handleAnswerSelected($event)'
        (nextQuestion)='goToNextQuestion()'
    ></app-quiz-question>
</div>
<ng-template #loading>Loading...</ng-template>

<p>Total Correct Answers: {{ totalCorrect }}</p>
<p>Total correct NgRx: {{ score$ | async}}</p>